h2 Edit #{resource_name.to_s.humanize}

= errors resource

= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  .form-group
    = f.label :name, 'Username'
    = f.text_field :name, autofocus: true, class: 'form-control'

  .form-group
    = f.label :email
    = f.email_field :email, autocomplete: "email", class: 'form-control'

  .form-group
    = f.label :password do
      | Password
      small.ml-2 leave blank if you don't want to change it
      small.ml-2 #{@minimum_password_length} characters minimum
    = f.password_field :password, autocomplete: "off", class: 'form-control'

  .form-group
    = f.label :password_confirmation
    = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'

  .form-group
    = f.label :current_password do
      | Current Password
      small.ml-2 we need your current password to confirm your changes
    = f.password_field :current_password, autocomplete: "off", class: 'form-control'

  = f.submit "Update", class: 'btn btn-primary'
br

h3 Cancel my account
.mb-1
  p Unhappy? 
  = button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-primary btn-sm'
br
= link_to "Back", :back
