h1 Food Frontier

= link_to 'All Restaurants', restaurants_path, class: 'btn btn-primary'
= link_to 'New Restaurant', new_restaurant_path, class: 'btn btn-primary'
= link_to 'New Item', new_item_path, class: 'btn btn-primary'
= link_to 'New Item Tag', new_item_tag_path, class: 'btn btn-primary'