.col-6
  = link_to restaurant do
    .card.mb-3.rest
      .card-body
        h2.card-title.mb-1 = restaurant.name
        h6 = render_stars restaurant.rating
        p.card-text.mb-0 = restaurant.description