<h1> Most Reviewed Restaurants </h1>

<div class="row">
  <% @restaurants.each do |r| %>
    <div class="col-md-6" >
      <%= link_to r do %>
        <div class="card mb-3 rest">
          <div class="card-body">
            <h2 class="card-title mb-1"><%= r.name %></h2>
            <h6><%= render_stars r.rating %></h6>
            <h4><%= r.reviews.count %> Reviews</h4>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>