#head
  .row.align-items-center
    .col-auto
      h1 = @restaurant.name

    - if admin?
      .col-auto
        .h4
          => link_to fa('plus'), new_restaurant_menu_item_path(@restaurant)
          => link_to fa('cog'), edit_restaurant_path(@restaurant)
          => link_to fa('dollar-sign'), prices_restaurant_path(@restaurant)
          = delete_link @restaurant

  h3
    span.text-warning.mr-3 = render_stars(@restaurant.rating) 
    span.text-primary = render_rating @restaurant

  h2.mb-0 = @restaurant.description

br

h2 Menu
.row
  .col-4 = render_menu_items @restaurant, :entrees
  .col-4 = render_menu_items @restaurant, :sides
  .col-4 = render_menu_items @restaurant, :drinks

br

- unless @restaurant.reviews.empty?
  h2 Recent Reviews
  - @restaurant.reviews.each do |r|
    .card.mb-2
      .card-body
        .row.justify-content-between
          .col-3
            .mb-2.text-warning = render_stars r.rating
            = r.user.name

            - if admin? || r.user == current_user
              =<> link_to fa('cog'), edit_restaurant_review_path(@restaurant, r)
              = delete_link restaurant_review_path(@restaurant, r)
          
          .col
            h4 = r.title
            p.mb-0 = r.content

  .my-3 = link_to 'All Reviews', restaurant_reviews_path(@restaurant), class: 'btn btn-outline-primary'

- if @review
  h2 Leave a review
  = render partial: 'reviews/form', locals: {restaurant: @restaurant, review: @review}