<div class="col-md-4 col-sm-6 mb-2">
  <%= link_to item, class: 'itm' do %>
    <div class="card">
      <div class="card-body">
        <h4 class="mb-0">
          <%= item.name %>
        </h4>
      </div>
    </div>
  <% end %>
</div>
