<h1 class="display-4">
  Browse Items
</h1>
<h2>Entrees</h2>
<div class="row">
  <% @items.entrees.each do |item| %>
    <%= render partial: 'item', locals: { item: item } %>
  <% end %>
</div>
<br />
<h2>
  Sides
</h2>
<div class="row">
  <% @items.sides.each do |item| %>
    <%= render partial: 'item', locals: { item: item } %>
  <% end %>
</div>
<br />
<h2>
  Drinks
</h2>
<div class="row">
  <% @items.drinks.each do |item| %>
    <%= render partial: 'item', locals: { item: item } %>
  <% end %>
</div>
