= errors review

= form_for [restaurant, review] do |f|
  .form-row
    .form-group.col-10 
      = f.label :title
      = f.text_field :title, class: 'form-control'
    .form-group.col-2 
      = f.label :rating
      = f.select :rating, stars, {}, {class: 'custom-select'}

  .form-group
    = f.label :content
    = f.text_area :content, class: 'form-control'

  = f.hidden_field :restaurant_id
  = f.hidden_field :user_id

  = f.submit 'Submit Review', class: 'btn btn-primary'